.formPassword {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resetForm {
   display: flex;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
  margin-top: 50px;
}

.reset {
 display: flex;
  justify-content: center;
}
