.signupComponent {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

}


.formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  margin-top: 70px;
  width: 45.3vh;
  height: 350px;



}

.signUpTitle {
  display: flex;
  justify-content: center;


}

.label {
  display: flex;
  justify-content: center;
}
