.updateForm {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  border-style: solid;

}

.updateUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateFormTitle {
  display: flex;
  justify-content: center;
}
